<!-- Body content Start -->
<div class="container-fuild container-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="container-contact">
                    <h1 class=" text-white">Contact Us</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fuild pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="get-in-touch">
                    <h1>Get In Touch</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="form-group pt-3">
                        <input type="text" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="form-group pt-3">
                        <input type="text" class="form-control" placeholder="Subject">
                    </div>
                    <div class="form-group pt-3">
                        <textarea type="text-area" class="form-control" rows="4" placeholder="Your Message"></textarea>
                    </div>
                    <div>
                        <button class="btn button-effect mb-3 ">Send Message</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="card">
                    <div class="card-body card-body-contact">
                        <h1>Contact Info</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate.</p>
                        <p><i class="fa fa-map-marker" ariza-hidden="true"></i>&nbsp&nbsp;Address: Michael I. Days 9000<br> &nbsp&nbsp&nbsp&nbsp;Preston Street Wichita,<br> &nbsp&nbsp&nbsp&nbsp;KS 87213</p>
                        <p><i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;Phone:- 7415422153</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> Email:- Contactus@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Body content End -->