<div class="container-fuild ">
    <div class="bg-img ">
        <!-- <div class="container py-4 "> -->
        <div class="item lightslider-padding ">
            <ul id="content-slider " class="content-slider ">
                <li>
                    <img src="images/instagram-img-01.jpg " class="img-fluid ">
                </li>
                <li>
                    <img src="images/instagram-img-02.jpg " class="img-fluid ">
                </li>
                <li>
                    <img src="images/instagram-img-03.jpg " class="img-fluid ">
                </li>
                <li>
                    <img src="images/instagram-img-04.jpg " class="img-fluid ">
                </li>
                <li>
                    <img src="images/instagram-img-05.jpg " class="img-fluid ">
                </li>
                <li>
                    <img src="images/instagram-img-06.jpg " class="img-fluid ">
                </li>
                <li>
                    <img src="images/instagram-img-07.jpg " class="img-fluid ">
                </li>
                <li>
                    <img src="images/instagram-img-08.jpg " class="img-fluid ">
                </li>
                <li>
                    <img src="images/instagram-img-09.jpg " class="img-fluid ">
                </li>
            </ul>
        </div>

    </div>
</div>
</div>