<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>Freshshop E-Commerce in bootstap</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/lightslider.css">
    <link rel="stylesheet" type="text/css" href="/css/freshshop.css">
</head>

<body>
    <div class="container-fluid bg-top">
        <div class="col-md-12">
            <div class="freshshop-container">
                <h1>Freshshop</h1>
                <div class="not-font-img">
                    <img src="images/404-error-page-templates.jpg">
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.js "></script>
    <script src="js/bootstrap.bundle.js "></script>
    <script src="js/lightslider.js "></script>
</body>

</html>