<!-- Body content start -->

<!-- Image title start -->
<div class="container-fuild container-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="container-contact">
                    <h1 class=" text-white">About Us</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Images title ends -->
<div class="container-fuild mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <img src="images/about-img.jpg" class="img-fluid">
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="container-freshshop">
                    <h2>We Are Freshshop</h2>
                    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                        voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                        sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                        Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <button class="btn ">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fuild mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="service-block-inner">
                    <h3>We Are Trusted</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-block-inner">
                    <h3>We Are Professional</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 ">
                <div class="service-block-inner">
                    <h3>We Are Expert</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fuild">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="team-container">
                    <h2>Meet Our Teem</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3 ">
            <div class="team-col-1">
                <img src="images/img-1.jpg" class="img-fluid">
                <h3>Williomson</h3>
                <h5>Web Developer</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="team-col-1">
                <img src="images/img-2.jpg" class="img-fluid">
                <h3>Kristiana</h3>
                <h5>Web Developer</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="team-col-1">
                <img src="images/img-3.jpg" class="img-fluid">
                <h3>Steve Thomas</h3>
                <h5>Web Developer</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="team-col-1">
                <img src="images/img-1.jpg" class="img-fluid">
                <h3>Williomson</h3>
                <h5>Web Developer</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate.</p>
            </div>
        </div>
    </div>
</div>

<!-- Body content ends -->